.comment__form {
  padding: 2rem;
  background-color: $white-color;
  h2 {
    margin-bottom: 2rem;
  }
  textarea {
    width: 100%;
    min-height: 8rem;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

}

.add__feedback__form {
  // display:grid;
  // gap: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 72.8rem;
  background-color: $white-color;
  padding: 2rem;
  // h2 {
  //   margin-bottom: 2rem;
  // }

  label {
    display: grid;
    gap: .5rem;
    font-size: $regular-font;
    color: $heavy-blue-color;
    font-weight: $font-weight-semibold;
    margin-bottom: 1rem;
  }

  input {
    height: 4.8rem;
    margin-bottom: 2rem;
  }

  .select {
    @include inputs();
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;
    &:active {
      outline: 1px solid $blue-color;
    }
  } 
.category__select {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    background-color: $white-color;
    border-radius: 1rem;
    user-select: none;
    box-shadow: 0 1rem 4rem -.7rem rgba(55, 63, 104, 0.44);
    li {
        font-size: $regular-font;
        border-bottom: 1px solid $gray-color;
        height: 5rem;
        display: flex;
        align-items: center;
        padding: 1rem;
      transition: .2s ease;
        &:active {
          color: $purple-color;
        }
        &:hover {
          color: $purple-color;
        }
    }
}
  textarea {
    height: 12rem;
    margin-bottom: 2rem;
  }

  .submit__buttons {
    .btn {
      width: 100%;
      margin: 1rem 0;
      font-weight: $font-weight-semibold;
    }
  }
}