$purple-color: #AD1FEA;
$purple-hover-color: #C75AF6;
$blue-color: #4661E6;
$blue-hover-color: #7C91F9 ;
$dark-blue-color: #647196;
$dark-blue-hover-color: #656EA3;
$heavy-blue-color: #373F68;
$red-color: #D73737;
$red-hover-color: #E98888;
$white-color: #ffffff;
$gray-color: #F2F4FF;
$ligh-gray-color: #F7F8FD;
$dark-gray-color: #647196;
$peach-color: #F49F85;
$ligh-blue-color: #62BCFA;

$extra-small-font: 1.3rem;
$small-font: 1.4rem;
$regular-font: 1.6rem;
$large-font: 1.8rem;
$extra-large-font: 2rem;
$jumbo-font: 2.4rem;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;