@media only screen and ( min-width: 768px ) {
  .feedback__section {
    width: 69rem;
    margin: 0 auto;
    padding: 0;

    .main__card {
      width: 100%;
      position: relative;
      height: 15.1rem;
      .content {
        width: 50rem;
        position: absolute;
        left: 15%;
      }

      .card__interaction {
        .votes {
          text-align: center;
          width: 4rem;
          height: 5.3rem;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          figure {
            margin: 0;
            margin-bottom: .5rem;
          }
        }
      }
    }
  }

  .empty__feedback {
    align-items: none;
    height: auto;
    margin-top: 2rem;

    .empty__content {
      width: 69rem;
    }
  }


  .feedback {
    width: 54rem;
    height: 74.5rem;
    position: absolute;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
    // justify-content: center;
  }
  .actions__feedback__form {
 
    padding-right: 2rem;
    padding-left: 2rem;
    .submit__buttons {
      display: flex;
      flex-direction: row-reverse;
      
      .purple {  
        width: 14.4rem ;
        height: 4.4rem;
      }
      .heavy-blue {  
        width: 9.3rem;
        height: 4.4rem;
        margin-right: 2rem;
      }
      
      .red {
        width: 9.3rem;
        height: 4.4rem;
        position: absolute;
        left: 2rem;
      }
      
    }
  }

  .by__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media only screen and ( min-width: 1400px ) {
  .feedback__details {
    width: 80rem;
    margin: 0 auto;
  }
}