@media only screen and ( min-width: 768px ) {

  .header {
    background: none;
  }
  .tablet__header {
    width: 69rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 4rem;
    // padding: 1rem;
    color: $white-color;

    .company {
      width: 22.3rem;
      height: 17.8rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-image: url("../../assets/suggestions/tablet/background-header.png");
      background-repeat: no-repeat;
      border-radius: 1rem;
    }
    
    .suggestions__list {
      width: 22.3rem;
      height: 17.8rem;
      margin: 0;
    }

    .roadmap {
      padding: 2rem;
      width: 22.3rem;
      height: 17.8rem;

      .roadmap__header {
      }
      .roadmap__list {
        li {
          margin: 0;
          margin-bottom: .5rem;
        }
      }
    }
  }

  .mobile__header {
    display: none;
  }

  .short {
    width: 69rem;
    margin: 0 auto;
    margin-top: 15rem;

    border-radius: 1rem;

    .short__by {
      width: 55%;
      display: flex;
      justify-content: space-between;
      padding-left: 1rem;
      h2 {
        display: revert;
        color: $white-color;
      }

      .suggested--icon {
        width: 2.4rem;
        height: 2.4rem;
        display: revert;

        img {
          width: inherit;
          height: inherit;
        }
      }

    }
  }
}