@media only screen and ( min-width: 768px ) {
  .roadmap__screen {
    width: 68.9rem;
    margin: 0 auto;
  }

  .header__roadmap {
    border-radius: 1rem;
  }

  .select__roadmap {
    display: none;
  }
}